BEDROCK_API_KEY=your_key_here
BEDROCK_INVOKE_URL=https://bedrock-runtime.us-east-1.amazonaws.com/model/amazon.nova-pro-v1:0/invoke
ARDUINO_PORT=COM3
ARDUINO_BOARD=arduino:avr:uno
ARDUINO_CLI_PATH=arduino-cli
